<div class="ion-padding">
  <div class="info-container">
    @if(user){
    <form [formGroup]="userInfoForm">

      <ion-label class="title-label">¿Estos son tus datos?</ion-label>

      <ion-item lines="none">
        <ion-label>
          <strong>Nombre:</strong>
          <p>{{ user['name'] | titlecase }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <strong>Apellido:</strong>
          <p>{{ user['surname'] | titlecase }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <strong>Tipo de documento:</strong>
          <p>{{ user['documentType'] }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <strong>Nro de documento:</strong>
          <p>{{ user['documentNumber'] }}</p>
        </ion-label>
      </ion-item>

      <ion-label class="birthdateTitle">Selecciona una fecha:</ion-label>
      <ion-item class="custom-input padding-left-16" (click)="openDatePicker()">
        <ion-col class="ion-no-padding">
         
          <ion-input readonly [value]="displayDate" formControlName="birthDate"></ion-input>
        </ion-col>
      
      </ion-item>

      <ion-modal [isOpen]="isOpen" [breakpoints]="[0, 0.5, 0.7, 0.9]" [initialBreakpoint]="1"
        (didDismiss)="closeDatePicker()" class="custom-modal">

        <ng-template>
          <div class="date-picker-container">
            <ion-datetime mode="ios" id="datetime" presentation="date" locale="es-ES" cancel-text="Cancelar"
              done-text="Aceptar" (ionChange)="onDateChange($event)" show-default-buttons>
            </ion-datetime>
          </div>
        </ng-template>

      </ion-modal>
    </form>
  }
  </div>
</div>