.content {
  display: flex;
  flex-direction: column; /* Asegura que los elementos estén en una columna */
  justify-content: center; /* Centra todo verticalmente */
  align-items: center; /* Centra todo horizontalmente */
  height: 100%; /* Ocupa toda la altura del ion-content */
}

.content-logo {
  display: flex; /* Flexbox para centrar */
  justify-content: center; /* Centra la imagen horizontalmente */
  align-items: center; /* Centra la imagen verticalmente */
  width: 40%; /* Ajusta el tamaño del contenedor de la imagen */
}

.content-logo ion-img {
  max-width: 100%; /* Asegura que la imagen no exceda el tamaño del contenedor */
  max-height: 100%; /* Mantiene las proporciones dentro del contenedor */
  object-fit: contain; /* Ajusta la imagen dentro del espacio disponible */
}

form{
  width: 100%;
  padding: 0px 20px;
}

.d-flex-center-login
{
  display: flex;
  justify-content: center;
  align-items: center;
}	


.t{
  color: var(--Neutral-GreyDark, #383E52);

font-family: 'Inter', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.048px;
}


.forgot-password{
  color: #1da4b1 !important;
  text-decoration: none;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
}

.flex-column{
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.title{
  color: var(--Neutral-GreyVeryDark, #212532);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 2rem;
}

.validators{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-field{
  display: flex;
  padding: .25rem 0.25rem;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;

  color: var(--States-Error, #E00000);


  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.003rem;
}

.error-placeholder{
  height: 25px;
}

.logo{
  margin-top: 6rem;
}