<ion-content [fullscreen]="true">
    <div class="content-login">
        <form [formGroup]="formAuth" class="form-container" (ngSubmit)="submit()" (keypress.enter)="submit()">
    
          <div class="logo"> 
            <app-logo></app-logo>
          </div>
    
          <h1 class="title"> Iniciar sesión  </h1>
          <!-- Usuario -->
          <div #userContainer class="user-container">
            <app-custom-input icon="person-outline" [control]="formAuth.controls.cuil" label="Usuario" textClass="login-label">
            </app-custom-input>
    
          </div>
    
          <!-- Contraseña -->
          <div class="password-container" #passwordContainer>
            <app-custom-input icon="lock-closed-outline" [control]="formAuth.controls.password" type="password"
              label="Contraseña" textClass="login-label" style="width: 100%;">
            </app-custom-input>
            <ion-text color="primary" class="forgot-password" (click)="forgotPassword()">¿Olvidaste tu contraseña?</ion-text>
          </div>
          
          @if(formAuth.errors?.['incorrect']) {
            <div class="validators">
              <div class="error-field">Usuario o contraseña incorrectos</div>
            </div>
          } @else {
            <div class="error-placeholder"> </div>
          }
          <div class="buttons-container">
            <ion-button expand="block" shape="round" type="submit" size="large">
              Iniciar sesión 
            </ion-button>
            <ion-button expand="block" shape="round" fill="outline" class="create-account" (click)="navigateToCreateAccount()" size="large">
              Crear cuenta
            </ion-button>
          </div>
          
        </form>
        <app-floating-help></app-floating-help>
    </div>
    @if(version && env){
      <p class="version">{{version}}
        @if (env !== 'prod') {-{{env}}}
      </p>
    }



</ion-content>