.password-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.content-login{
  display: flex;
  height: 90dvh;
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  z-index: 0;
  position: relative;
  padding: 1.5rem 1.5rem 2rem 1.5rem;

  border-radius: 16px;
  background: var(--Neutral-White, #FFF);
}

.content-logo {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  width: 40%; 
  ion-img {
    max-width: 100%; 
    max-height: 100%; 
    object-fit: contain; 
  }
}

.t{
  color: var(--Neutral-GreyDark, #383E52);

font-family: 'Inter', sans-serif;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 16px; /* 133.333% */
letter-spacing: 0.048px;
}

form{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}


.forgot-password{
  color: #1da4b1 !important;
  text-decoration: none;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
}

.flex-column{
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.title{
  color: var(--Neutral-GreyVeryDark, #212532);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 2rem;
}

.validators{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.error-field{
  display: flex;
  padding: .25rem 0.25rem;
  align-items: center;
  gap: 0.25rem;
  align-self: stretch;

  color: var(--States-Error, #E00000);


  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
  letter-spacing: 0.003rem;
}

.error-placeholder{
  height: 25px;
}

form{
  width: 100%;
}

.buttons-container{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  ion-button {
    margin-top: 0 !important;
  }
}
.create-account{
  color: var(--Primary-Uell, #1DA4B1);
  font-family: Inter;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem; /* 150% */
  letter-spacing: 0.016px;
}

.create-account{
  --border-width:1px !important;
}


ion-fab-button{
  --background: #1da4b1;
  ion-img{
    width: 1.5rem;
  }
}

.version{
  text-align: center;

  font-family: 'Inter';
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.06px;
}