<ion-content [fullscreen]="true">
  <div class="d-flex-center-login">
    <form [formGroup]="formAuth" class="form-container" (ngSubmit)="submit()" (keypress.enter)="submit()">

      <div class="logo"> 
        <app-logo></app-logo>
      </div>

      <ion-text class="d-flex-center ">
        <h1 class="title"> ¡Te damos la bienvenida! </h1>
      </ion-text>
      <!-- Usuario -->
      <div #userContainer>
        <app-custom-input icon="person-outline" [control]="formAuth.controls.cuil" label="Usuario2">
        </app-custom-input>

        <div class="validators" *ngIf="formAuth.controls.cuil.errors && formAuth.controls.cuil.touched">
          <div *ngIf="formAuth.controls.cuil.errors?.['required']">El cuil es requerido</div>
        </div>
      </div>

      <!-- Contraseña -->
      <div #passwordContainer>
        <app-custom-input icon="lock-closed-outline" [control]="formAuth.controls.password" type="password"
          label="Contraseña">
        </app-custom-input>

        <div class="validators" *ngIf="formAuth.controls.password.errors && formAuth.controls.password.touched">
          <div *ngIf="formAuth.controls.password.errors?.['required']">El password es requerido</div>
        </div>
        <ion-text color="primary" class="forgot-password" (click)="forgotPassword()">¿Olvidaste tu contraseña?</ion-text>
      </div>

      <ion-button expand="block" shape="round" type="submit" class="submit-btn submit" [disabled]="formAuth.invalid">
        Iniciar sesión 
      </ion-button>
      
    </form>
  </div>



</ion-content>