<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex-center-login">
        <div class="logo"> 
          <app-logo></app-logo>
        </div>
        <div>
          <ion-text class="d-flex-center ">
            <h1 class="title"> Crea tu contraseña</h1>
          </ion-text>
        </div>
        <div class="pass-rules-container">
          <ul>
            @for (rule of passwordRules; track rule) {
              <div>
                <img src="assets/icon/check-circle.svg" alt="check" />
                <span>{{ rule }}</span>
              </div>            
            }
          </ul>
        </div>
      </div>

      <div>
        <form (ngSubmit)="onSubmit()" [formGroup]="createNewPassForm" class="form-password">
          <div class="form-group">
              <label for="newPass">Nueva contraseña</label>
              <div class="container-password">
                  <ion-input  autocomplete="off"
                  placeholder="Ingresa la nueva contraseña"
                  [type]="hasShowPass() ? 'text' : 'password'" 
                  formControlName="newPass"
                  minlength="6"
                  maxlength="15"
                  class="form-control input-password no-validation-style"></ion-input>
                <div class="sensititve">
                  @if(!hasShowPass()) {
                    <img (click)="setShowPass()" src="assets/icon/eye-slash.svg" />
                  }@else {
                    <img (click)="setShowPass()" src="assets/icon/eye.svg"/>
                  }
                </div>
              </div>

              @if(createNewPassForm.dirty && createNewPassForm.controls['newPass'].errors?.['required']){
                <small class="form-text text-muted error">
                  Campo requerido
                </small>
              }
              @if(createNewPassForm.dirty && createNewPassForm.controls['newPass'].errors?.['minlength']){
                <small class="form-text text-muted error">
                  La contraseña debe tener entre 10 y 15 caracteres
                </small>
              }
              @if(createNewPassForm.dirty && createNewPassForm.controls['newPass'].errors?.['maxlength']){
                <small class="form-text text-muted error">
                  La contraseña debe tener entre 10 y 15 caracteres
                </small>
              }
              @if(createNewPassForm.dirty && createNewPassForm.controls['newPass'].errors?.['pattern']){
                <small class="form-text text-muted error">
                  La contraseña debe contener al menos un número, una mayúscula y ningún caracter especial
                </small>
              }
              @if(createNewPassForm.dirty && createNewPassForm.controls['newPass'].errors?.['validatePassword']){
                <small class="form-text text-muted error">
                  La nueva contraseña debe ser distinta a la anterior
                </small>
              }
          </div>
          <div class="form-group">

              <!-- repetir contraseña -->
              <label for="newPass2">Repite la nueva contraseña</label>
              <div class="container-password">

              <ion-input  autocomplete="off"
                      placeholder="Repite la nueva contraseña"
                      [type]="hasShowPass2() ? 'text' : 'password'"
                      formControlName="newPass2"
                      minlength="6"
                      maxlength="15"
                      class="form-control input-password no-validation-style"></ion-input>
              <div class="sensititve">
                @if(!hasShowPass2()){
                  <img (click)="setShowPass2()" src="assets/icon/eye-slash.svg" />
                }@else{
                  <img (click)="setShowPass2()" src="assets/icon/eye.svg"/>
                }
              </div>
          </div>
            @if(createNewPassForm.dirty && createNewPassForm.controls['newPass2'].errors?.['required']){
              <small class="form-text text-muted error">
                Campo requerido
              </small>
            }
            @if(createNewPassForm.dirty && createNewPassForm.controls['newPass2'].errors?.['minlength']){
              <small class="form-text text-muted error">
                La contraseña debe tener entre 10 y 15 caracteres
              </small>
            }
            @if(createNewPassForm.dirty && createNewPassForm.controls['newPass2'].errors?.['maxlength']){
              <small class="form-text text-muted error">
                La contraseña debe tener entre 10 y 15 caracteres
              </small>
            }
            @if(createNewPassForm.dirty && createNewPassForm.controls['newPass2'].errors?.['pattern']){
              <small class="form-text text-muted error">
                La contraseña debe contener al menos un número, una mayúscula y ningún caracter especial
              </small>  
            }
            @if(createNewPassForm.dirty && createNewPassForm.controls['newPass2'].errors?.['notSame']){
              <small class="form-text text-muted error">
                Debe coincidir con la nueva contraseña
              </small>
            }
              <!-- repetir contraseña -->
          </div>
          <div class="form-group">
            <ion-button expand="block" shape="round" type="submit" class="submit" [disabled]="createNewPassForm.invalid || loading">
              @if(loading){
                <ion-spinner  name="crescent" slot="start"></ion-spinner>
                {{ 'Guardando...' }}
              } @else {
                {{ 'Guardar contraseña' }}
              }
            </ion-button>
            <a  style="margin: auto 10px;"
                class="cancelar">
                <span (click)="goToLogin()">Cancelar</span>
            </a>
          </div>
      </form>
    </div>
  </div>
</ion-content>