<ion-content [fullscreen]="true">
  <div class="container">
    <div class="d-flex-center-login">
        <div>      
          <ion-icon name="arrow-back-outline" (click)="goToLogin()"></ion-icon>
        </div>
        <div class="logo"> 
          <app-logo></app-logo>
        </div>
        <div class="d-flex">
          <ion-text class="d-flex-center ">
            <h1 class="title"> Crea tu contraseña</h1>
          </ion-text>
        </div>
      </div>
      <div>
        <span class="disclaimer">Recuerda no utilizar datos personales, como nombre, apellido, dirección, documento de identidad, o similares.</span>
      </div>
      <div class="form">
        <form (ngSubmit)="onSubmit()" [formGroup]="createNewPassForm" class="form-password">
          <div class="form-group">
              <label for="newPass">Nueva contraseña</label>
              <div class="container-password">
                  <ion-input  autocomplete="off"
                  [type]="hasShowPass() ? 'text' : 'password'" 
                  formControlName="newPass"
                  minlength="6"
                  class="form-control input-password no-validation-style"></ion-input>
                <div class="sensititve">
                  @if(!hasShowPass()) {
                    <img (click)="setShowPass()" src="assets/icon/eye-slash.svg" />
                  }@else {
                    <img (click)="setShowPass()" src="assets/icon/eye.svg"/>
                  }
                </div>
              </div>

              @if(createNewPassForm.dirty && createNewPassForm.controls['newPass'].errors?.['required']){
                <small class="form-text text-muted error">
                  Campo requerido
                </small>
              }
          </div>
          <app-bar-password-security [password]="passwordValue"> </app-bar-password-security>

          <div class="form-group">
            <ion-button expand="block" shape="round" type="submit" class="submit" [disabled]="createNewPassForm.invalid">
              @if(loading){
                <ion-spinner  name="crescent" slot="start"></ion-spinner>
                {{ 'Guardando...' }}
              } @else {
                {{ 'Continuar' }}
              }
            </ion-button>
          </div>
      </form>
    </div>
  </div>
</ion-content>