.container{
    padding: 20px;
}
.logo{
    margin-top: 20px;
}
.d-flex-center
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}	
.d-flex{
    display: flex;
}
small{
    color: red !important;
}

.title{
    color: var(--Neutral-GreyVeryDark, #212532);
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    margin-top: 40px;
}

ul{
    display: grid;
    gap: 5px;
    padding-left: 10px;
}

ion-input {
    --padding-start: 5px !important;
    &::part(input)::placeholder {
      padding-left: 5px;
    }
    .native-input::placeholder {
      padding-left: 5px;
    }
}
ion-icon{
    width: 24px;
    height: 24px;
}

span, label{
    text-align: left;
    color: #212532 !important;
    font-weight: 400;
    font-size: .875rem;
}

ion-input{
    border: 1px solid #a8b6bd !important;
    border-radius: 8px !important;
}

.form-password{
    display: grid;
    gap: 8px;
}
.form{
    margin-top:20px;
}
label{
    color: var(--Neutral-GreyDark, #383E52);
    /* Comment C1/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.048px;
}
.container-password{
    display: flex;
    align-items: center;
    gap: 5px;
}

.submit{
    background: #1da4b1 !important;
    color: #ffffff !important;
    border-radius: 20px !important;
}
.disclaimer{
    color: var(--Neutral-GreyDark, #383E52);
    /* Label L2/Regular */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    letter-spacing: 0.035px;
}

.cancelar{
    span{
        color: #19c3e3 !important;
        text-decoration: underline !important;
    }
    padding-top: 8px;
    display: grid;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 2rem !important;
}

.no-validation-style {
    --highlight-color-focused: transparent !important;
    --highlight-color: transparent !important;
  }