.circle-container{
  position: relative;
  display: flex;
  justify-content: center;
}

.progress{
  font-size: 17px;
  font-weight: bold;
}

round-progress{
  width: 50% !important;
  height: 50% !important;
}

.secondary-number-container {
    font-size: 14px;
    font-weight: 300;
}

.progress-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
