@if (step == 9) {
  <div>
    <ion-card>
      <ion-card-header>
        <ion-card-title class="card-title">{{questionsUltraprocesados[0]}}</ion-card-title>
        <ion-card-subtitle>SELECCIONA UNA OPCIÓN</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="content-layout">
        @for (opciones of firstCard; track opciones; let i = $index) {
          <div class="layout" [ngClass]="{ hasSelect: selectedIndexes['first'] === i }"
            (click)="selectOption(i, 'first')">
            <ion-label class="ion-text-start value">{{ opciones }}</ion-label>
            @if (selectedIndexes['first'] === i) {
              <ion-icon
              src="assets/nutrition/check_circle.svg"></ion-icon>
            }
          </div>
        }
      </ion-card-content>
    </ion-card>
    @if (showSecondCard) {
      <ion-card>
        <ion-card-header>
          <ion-card-title class="card-title">{{questionsUltraprocesados[1]}}</ion-card-title>
          <ion-card-subtitle>SELECCIONA UNA OPCIÓN</ion-card-subtitle>
        </ion-card-header>
        <ion-card-content class="content-layout">
          @for (opciones of secondCard; track opciones; let i = $index) {
            <div class="layout" [ngClass]="{ hasSelect: selectedIndexes['second'] === i }"
              (click)="selectOption(i, 'second')">
              <ion-label class="ion-text-start value">{{ opciones }}</ion-label>
              @if (selectedIndexes['second'] === i) {
                <ion-icon
                src="assets/nutrition/check_circle.svg"></ion-icon>
              }
            </div>
          }
        </ion-card-content>
      </ion-card>
    }
    <ion-card >
      <ion-card-header>
        <ion-card-title class="card-title">{{questionsUltraprocesados[2]}}</ion-card-title>
        <ion-card-subtitle>SELECCIONA UNA OPCIÓN</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="content-layout">
        @for (opciones of thirdCard; track opciones; let i = $index) {
          <div class="layout" [ngClass]="{ hasSelect: selectedIndexes['third'] === i }"
            (click)="selectOption(i, 'third')">
            <ion-label class="ion-text-start value">{{ opciones }}</ion-label>
            @if (selectedIndexes['third'] === i) {
              <ion-icon
              src="assets/nutrition/check_circle.svg"></ion-icon>
            }
          </div>
        }
      </ion-card-content>
    </ion-card>
  </div>
}
