ion-header{
  padding: 0px;
  ion-title {
    padding: 0px;
  }
}
.title {
  color: var(--Neutral-GreyMedium, #505A78);
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
  white-space: normal;
  word-break: break-word;
  overflow: visible;
  text-overflow: unset;
}
.sub-title {
  color: var(--Neutral-GreyMedium, #505A78);
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  letter-spacing: 0.024px;
}
.header-content-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content-flex-start {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.header-content-flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-content-botton {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-content-colum {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-arrow-back {
  padding: 4px !important;
}
