<ion-content [fullscreen]="true">
      @if(emotionalModule){
            <app-card-mental-status [emotionalData]="emotionalData"></app-card-mental-status>
      }
      @if (emotionalModule) {
            <app-card-emotions-map [emotionMapData]="emotionMapData"></app-card-emotions-map>
      }
      @if(ispsData && wellnessData){
            <app-card-psicosocial [ispsData]="ispsData"></app-card-psicosocial>
      }
      @if(wellnessData){
            <app-card-wellness-portal [wellnessData]="wellnessData"></app-card-wellness-portal>
      }      
</ion-content>

