.container{
  padding: 0px 20px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%; 
}
.validators{
  color:red !important;
}

.content-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.content-logo ion-img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

form{
  width: 100%;
}

.d-flex-center-login
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}	


.t{
  color: var(--Neutral-GreyDark, #383E52);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.048px;
}


.forgot-password{
  color: #1da4b1 !important;
  text-decoration: none;
  font-weight: 600 !important;
  line-height: 1.5rem !important;
}

.flex-column{
  display: flex;
  flex-direction: column;
  margin-top: 6rem;
}

.title{
  color: var(--Neutral-GreyVeryDark, #212532);
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
  margin-bottom: 2rem;
}

.logo{
  margin-top: 6rem;
}
p{
  text-align: left;
  color: #212532 !important;
  font-weight: 400;
  font-size: .875rem;
}
.back-button{
  width: 100%;
  margin: 10px 0px;
  background-color: #fff !important;
  color: #1DA4B1 !important;
  --border: solid 1px #1DA4B1 !important;
  border-radius: 100px;
  margin-top: 0.75rem;
  font-size: 16px;
  font-weight: 600;
}
.button-generic {
  border-radius: 100px !important;
  height: 2.875rem !important;
  cursor: pointer !important;
  text-decoration: none !important;
  width: 100%;
}