<div class="ion-padding">
  <div class="info-container">
    <form>

      <ion-label class="title-label">Información laboral</ion-label>

      <ion-item lines="none">
        <ion-label>
          <strong>Empresa:</strong>
          <p>{{ user.tenant[0].description | titlecase }}</p>
        </ion-label>
      </ion-item>

      @if (user.segmentationUnit && user.segmentationUnit.segDescription )  {
        <ion-item lines="none">
          <ion-label>
            <strong>Segmentacion:</strong>
            <p>{{ user.segmentationUnit.segDescription | titlecase }}</p>
          </ion-label>
        </ion-item>
      }
      

      <ion-item lines="none">
        <ion-label>
          <strong>Area:</strong>
          <p>{{ user.area | titlecase }}</p>
        </ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-label>
          <strong>Puesto:</strong>
          <p>{{ user.workstation| titlecase }}</p>
        </ion-label>
      </ion-item>

    </form>
  </div>
</div>