<ion-header>
  <ion-toolbar>
    <ion-title>{{ tenantParameters()!.localization.onboarding["adress"] }}</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="dismiss()" class="close-button">
        <ion-icon name="close" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  @if (tenantParameters() && countryValidations) {
  <form class="form" [formGroup]="addressForm">
    <!-- ! Pais -->
    <div class="form-group">
      <ion-label class="label-input">País</ion-label>
      <ion-list>
        <ion-select
          aria-label="country"
          interface="action-sheet"
          fill="outline"
          labelPlacement="stacked"
          justify="space-between"
          formControlName="country"
          class="select-input"
          [placeholder]="countryPlaceHolder | titlecase"
        >
          @for (country of countries; track $index) {
          <ion-select-option [value]="country">{{ country.countryName | titlecase }}</ion-select-option>
          }
        </ion-select>
      </ion-list>
      <!-- @if (addressForm.controls['country'].errors?.['required'] && (addressForm.controls['country'].touched ||
      addressForm.controls['country'].dirty)) {
      <span class="form-error-msg"> - {{ tenantParameters()!.localization.onboarding["required-field"] }} </span>
      } -->
    </div>
    <!-- ! Provincia -->
    <div class="form-group">
      <ion-label class="label-input">{{ stateTitle() }}</ion-label>
      <ion-list>
        <ion-select
          aria-label="province"
          interface="action-sheet"
          fill="outline"
          labelPlacement="stacked"
          justify="space-between"
          formControlName="province"
          class="select-input"
        >
          @for (prov of provincesResponse; track $index) {
          <ion-select-option [value]="prov">{{ prov.name }}</ion-select-option>
          }
        </ion-select>
      </ion-list>
      <!-- @if (addressForm.controls['province'].errors?.['required'] && (addressForm.controls['province'].touched ||
      addressForm.controls['province'].dirty)) {
      <span class="form-error-msg"> - {{ tenantParameters()!.localization.onboarding["required-field"] }} </span>
      } -->
    </div>
    <!-- ! Localidades -->
    <div class="form-group no-mb d-flex">
      <div class="row">
        <div class="form-group col-md-2" style="width: 100%">
          <ion-label class="label-input">{{ localityTitle() }}</ion-label>
          <ion-select
            aria-label="localityes"
            interface="action-sheet"
            fill="outline"
            labelPlacement="stacked"
            justify="space-between"
            formControlName="locality"
            [disabled]="loadingLocality"
            class="select-input"
          >
            @for (loc of localitiesResponse; track $index) {
            <ion-select-option [value]="loc">{{ loc.name }}</ion-select-option>
            }
          </ion-select>
        </div>
        <div class="form-group col-md-2">
          <app-custom-input
            [control]="addressForm.controls['postalCode']"
            [maxLength]="6"
            [label]="tenantParameters()!.localization.onboarding['zip-code']"
            textClass="login-label"
          ></app-custom-input>
        </div>
      </div>
      <!-- @if (addressForm.controls['locality'].errors?.['required'] && (addressForm.controls['locality'].touched ||
      addressForm.controls['locality'].dirty)) {
      <span class="form-error-msg"> - {{ tenantParameters()!.localization.onboarding["required-field"] }} </span>
      } -->
    </div>
    <div class="form-group">
      <ion-label class="label-input">{{ streetTitle() }}</ion-label>
      <app-custom-input
        [control]="addressForm.controls['street']"
        [maxLength]="255"
        textClass="login-label"
      ></app-custom-input>
      <!-- @if (addressForm.controls['street'].errors?.['required'] && (addressForm.controls['street'].touched ||
      addressForm.controls['street'].dirty)) {
      <span class="form-error-msg"> - {{ tenantParameters()!.localization.onboarding["required-field"] }} </span>
      } @if (addressForm.controls['street'].hasError('pattern')) {
      <span class="form-error-msg"> - Caracteres invalidos </span>
      } -->
    </div>
    <div class="form-group no-mb d-flex">
      <div class="row">
        <div class="form-group col-md-2">
          <app-custom-input
            [control]="addressForm.controls['number']"
            [maxLength]="50"
            [label]="tenantParameters()!.localization.onboarding['number']"
            textClass="login-label"
          ></app-custom-input>
        </div>
        <div class="form-group col-md-2">
          <app-custom-input
            [control]="addressForm.controls['floor']"
            [label]="tenantParameters()!.localization.onboarding['floor']"
            textClass="login-label"
          ></app-custom-input>
          @if (addressForm.controls['floor'].hasError('pattern')) {
          <span class="form-error-msg"> - Caracteres epseciales no permitidos </span>
          } @if (addressForm.controls['floor'].errors?.['maxlength']) {
          <span class="form-error-msg"> - Maximo {{ countryValidations?.floor?.maxLength }} caracteres </span>
          }
        </div>
        <div class="form-group col-md-2">
          <app-custom-input
            [control]="addressForm.controls['apartment']"
            [label]="apartmentTitle()"
            textClass="login-label"
          ></app-custom-input>
          <!-- @if (addressForm.controls['apartment'].hasError('pattern')) {
          <span class="form-error-msg"> - Caracteres epseciales no permitidos </span>
          } @if (addressForm.controls['apartment'].errors?.['maxlength']) {
          <span class="form-error-msg"> - Maximo {{ countryValidations.apartment.maxLength }} caracteres </span>
          } -->
        </div>
      </div>
      <div class="form-group col-md-3">
        <div class="form-group col-md-2 pl-0">
          <!-- <app-custom-input
            [control]="addressForm.controls['postalCode']"
            [maxLength]="6"
            [label]="tenantParameters()!.localization.onboarding['zip-code']"
            textClass="login-label"
          ></app-custom-input> -->
          <!-- @if (addressForm.controls['postalCode'].errors?.['required'] && (addressForm.controls['postalCode'].touched ||
          addressForm.controls['postalCode'].dirty)) {
          <span class="form-error-msg"> - {{ tenantParameters()!.localization.onboarding["required-field"] }} </span>
          } @if (addressForm.controls['postalCode'].errors?.['maxlength'] &&
          !addressForm.controls['postalCode'].hasError('pattern')) {
          <span class="form-error-msg"> - Máximo {{ countryValidations.postalCode.maxLength }} dígitos </span>
          } @if (addressForm.controls['postalCode'].errors?.['minlength'] &&
          !addressForm.controls['postalCode'].hasError('pattern')) {
          <span class="form-error-msg"> - Mínimo {{ countryValidations.postalCode.minLength }} dígitos </span>
          } @if (addressForm.controls['postalCode'].hasError('pattern')) {
          <span class="form-error-msg"> - Caracteres invalidos </span>
          } -->
        </div>
      </div>
    </div>
    <div class="form-group">
      <ion-label class="label-input">{{ tenantParameters()!.localization.onboarding["observations"] }}</ion-label>
      <ion-textarea
        [autoGrow]="true"
        fill="outline"
        formControlName="observation"
        [counter]="true"
        [maxlength]="countryValidations?.observation?.maxLength ?? 250"
      ></ion-textarea>
      <!-- @if (addressForm.controls['observation'].errors?.['maxlength']) {
      <span class="form-error-msg"> - Máximo {{ countryValidations?.observation?.maxLength }} dígitos </span>
      }
      <p class="max-length">
        {{ addressForm.get("observation")?.value?.length + " / " }}<b>{{ countryValidations?.observation?.maxLength }}</b>
      </p> -->
    </div>

    <div class="submit-section">
      <ion-button
        type="submit"
        expand="block"
        size="large"
        shape="round"
        [disabled]="!addressForm.valid"
        style="width: 30%"
        (click)="postAddress()"
      >
        Guardar
      </ion-button>
    </div>
  </form>
  }
</ion-content>
