div{
    font-family: Inter !important;
    padding: 0px 15px;
    h3{
        font-size: 18px;
        font-weight: 700;
        width: 100%;
        color: #383e52;
    }
    p{
        font-weight: 400;
        width: 100%;
    }
}
