<div class="container">
  <div class="image-container">
    <!-- Skeleton for the main image -->
    <ion-skeleton-text 
      animated="true" 
      class="image-skeleton">
    </ion-skeleton-text>
    
    <!-- Skeleton for the icon -->
    <div class="icon">
      <ion-skeleton-text 
        animated="true" 
        class="icon-skeleton">
      </ion-skeleton-text>
    </div>
    
    <!-- Skeleton for the meal label -->
    <div class="meal-label-skeleton">
      <ion-skeleton-text 
        animated="true" 
        class="label-skeleton">
      </ion-skeleton-text>
    </div>
  </div>
  
  <div class="text">
    <!-- Skeleton for the title -->
    <ion-skeleton-text 
      animated="true" 
      class="title-skeleton">
    </ion-skeleton-text>
    
    <!-- Skeleton for the description -->
    <ion-skeleton-text 
      animated="true" 
      class="description-skeleton">
    </ion-skeleton-text>
  </div>
</div> 