<div>
  <div class="header">
    <h4>
      Historia Clínica - Antecendentes médicos
    </h4>
  </div>
  <div class="description">
    <span> UELL Bienestar ha adoptado los niveles de seguridad de protección de los datos personales legalmente requeridos y mantiene estricta confidencialidad de la Información. Se compromete a no compartirla con terceros y el uso de la misma está previsto sea para beneficio o mejora de la Salud y Bienestar de los colaboradores. </span>
  </div>
  <div class="buttons">
    <ion-button shape="round" class="ion-margin-end footer-btn-back btn" (click)="closeModal(false)">Cancelar</ion-button>
    <ion-button expand="block" shape="round" type="submit" class="submit-btn" (click)="closeModal(true)">Enviar</ion-button>
  </div>
</div>
