<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom" class="ion-safe-area-bottom">
      <ion-tab-button tab="home">
        <ion-icon name="home"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
      <ion-tab-button
        tab="psychosocial-health"
        [disabled]="!hasIsps"
        [class.tab--disabled]="!hasIsps">
        <ion-img src="../../../assets/tabs/psychology-icon-tab.svg"
                 class="nutrition-icon"></ion-img>
        <ion-label>Mi bienestar</ion-label>
      </ion-tab-button>
      <ion-tab-button
        tab="wellness-portal"
        [disabled]="!hasWellnessBlog"
        [class.tab--disabled]="!hasWellnessBlog">
        <ion-img src="../../../assets/tabs/video_library.svg"></ion-img>
        <ion-label>Mi Contenido</ion-label>
      </ion-tab-button>
      <ion-tab-button
        tab="nutrition">
        <ion-img src="../../../assets/tabs/grocery.svg"></ion-img>
        <ion-label>Nutrición</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>