@if (data && data.id) {
  <div class="gradient-container" (click)="redirectToPost(data.id)" style="width: 100%;">
    @if (data.img && !data.multimedia) {
      <app-optimized-image [borderRadius]="true"  [url]="data.img"></app-optimized-image>
    }
    @if (data.multimedia) {
      <app-multimedia-iframe [borderRadius]="true" [url]="data.multimedia" [height150px]="true"></app-multimedia-iframe>
    }
    <div class="card-footer">
      <div class="gradient">
        @if (data.title) {
          <p class="img-title">{{data.title}}</p>
        }
        @if (data.subtitle) {
          <p class="img-subtitle">{{data.subtitle}}</p>
        }
      </div>
    </div>
  </div>
}