// colors.scss
// @import 'src/theme/colors';

// Colores Neutrales
$neutral-grey-light: #DADFE9;
$neutral-grey-dark: #383E52;
$neutral-grey-medium: #505A78;

// Colores Primarios
$primary-uell: #1DA4B1;

// Colores de Eventos
$primary-uell-selected: #E8F6F7;

// Colores de Fondo
$background-white-80: rgba(255, 255, 255, 0.80);

// Colores Mental Status
$mental-status-verybad: #EE316B;
$mental-status-bad: #F26D00;
$mental-status-littlebad: #F9B10C;
$mental-status-neutral: #8A95AB;
$mental-status-littlegood: #15BD6D;
$mental-status-good: #1DA4B1;
$mental-status-verygood: #44D8E8;
