<ion-content [fullscreen]="true">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="content">
      <app-logo></app-logo>
      <div class="body">
        <ion-text>
          <h1 class="title">Validar cuenta</h1>
        </ion-text>
        <app-custom-input label="CUIL" textClass="login-label" [control]="form.controls.cuil"></app-custom-input>
        <app-individual-inputs
          [digits]="6"
          [control]="form.controls.code"
          label="Código de verificación"
        ></app-individual-inputs>

        @if(form.invalid && form.touched) {
        <div class="error-message">
          <ion-icon name="alert-circle-outline" color="danger" size="large"></ion-icon>
          <ion-text>
            <!-- TODO: add correct error msg condition -->
            <p>Parece que alguno de los datos ingresados no es correcto. Revísalos e intenta nuevamente.</p>
          </ion-text>
        </div>
        } @else {
        <div style="height: 4rem"></div>
        }
      </div>
      <ion-button expand="block" shape="round" type="submit" size="large" [disabled]="form.invalid">
        Siguiente
      </ion-button>
      <ion-text class="login-link">
        <p class="subtitle">¿Ya tienes una cuenta?</p>
        <ion-button routerLink="/auth" fill="clear">Iniciar sesión</ion-button>
      </ion-text>
      <app-floating-help></app-floating-help>
    </div>
  </form>
</ion-content>
