@if (label) {
  <ion-label class="label-input"> {{ label }}</ion-label>
}

<ion-item class="custom-input" lines="none">
  @if (icon) {
    <ion-icon color="primary" slot="start" [name]="icon"></ion-icon>
  }
  
  @if(maxLength){
    <ion-input [type]="type" [formControl]="control" [maxlength]="maxLength" ></ion-input>  
  }@else{
    <ion-input [type]="type" [formControl]="control" ></ion-input>
  }
  

  @if (isPassword) {
    <ion-button (click)="showOrhidePassword()" slot="end" fill="clear" shape="round">
      <ion-icon slot="start" [name]="hide ? 'eye-outline' : 'eye-off-outline'"></ion-icon>
    </ion-button>
  }
</ion-item>
