  <ion-card  [disabled]="!findTenant('wellness')" class="card-rrhh">
    <div class="card-rrhh__img card-rrhh__img--bienestar">
      <ng-container *ngIf="post && ((post?.title_image?.url && imgUrl) || post.multiMediaUrl)">
        <img *ngIf="post?.title_image?.url && imgUrl && !post.multiMediaUrl" [src]="imgUrl" alt="advert-img.svg" />
        <app-uell-multimedia *ngIf="post.multiMediaUrl" [url]="post.multiMediaUrl"></app-uell-multimedia>
      </ng-container>
    </div>
    <div class="card-rrhh__content" *ngIf="tenantParameters.tenantParameters.localization['home-cards']['wellness-card']">
      <ion-card-content class="ion-no-padding">
        <div class="card-rrhh__title-container">
          <ion-icon class="card-rrhh__icon ion-no-margin" src="assets/wellness-icons/wellness-blog-icon.svg"></ion-icon>
          <ion-label class="card-rrhh__title ion-margin user-info">
            Portal de Bienestar
          </ion-label>
        </div>
        <div class="card-rrhh__content-flex-col" *ngIf="post">
          <div class="card-rrhh__text-content">
            <ion-label color="tertiary" class="card-rrhh__sub-title">{{ post.title }}</ion-label>
            <ion-label color="tertiary" class="card-rrhh__text">
              {{ post.subtitle }}
            </ion-label>
          </div>
        </div>
      </ion-card-content>
      <ng-container *ngIf="post">
        <ion-label color="medium" class="fs-12 fw-400">
          {{ tenantParameters.tenantParameters.localization['home-cards']['wellness-card'].published }}
          {{ post.title_image.created | date : 'dd/MM/yyyy' }}</ion-label
        >
      </ng-container>
      <div class="card-rrhh__cont-button">
        <ion-button class="card-rrhh__button" expand="block" fill="clear" (click)="goTo(post)">
          <ion-label color="tertiary" class="card-rrhh__button-label">
            {{ tenantParameters.tenantParameters.localization['home-cards']['wellness-card']['read-now'] }}
          </ion-label>
        </ion-button>
      </div>
    </div>
  </ion-card>
