ion-title {
  color: var(--Neutral-GreyMedium, #505a78);

  /* Title T1/Bold */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 140% */
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.submit-section {
  display: flex;
  justify-content: flex-end;
}

.label-input {
  color: var(--Neutral-GreyDark, #383e52);

  /* Comment C1/Regular */
  font-family: "Inter";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
  letter-spacing: 0.048px;
}
