
<swiper-container init="false">
  @for (card of nutritionCards(); track $index) {
    @defer () {
    <swiper-slide class="cardDisplay" speed="500" (click)="    this.selectedCard.emit(card)">
      <app-meal-plan-card [nutritionCard]="card" [typeFood]="typeFood()" ></app-meal-plan-card>
    </swiper-slide>
    }
    @loading {
      <swiper-slide>
        <app-meal-plan-card-skeleton></app-meal-plan-card-skeleton>
      </swiper-slide>
    }
    @placeholder (minimum 1000ms) {
      <swiper-slide>
        <app-meal-plan-card-skeleton></app-meal-plan-card-skeleton>
      </swiper-slide>
    }
  }
</swiper-container>
