<ion-header class="ion-no-border ion-safe-area-top">
  <ion-toolbar  class="gradient-toolbar">
    <div class=" d-flex">
      <ion-img src="../../../../assets/logo-header.svg"></ion-img>
      <div class="container">
        <div class="d-flex-column">
          <ion-label class="name-user">{{ user()?.name! | titlecase }} {{ user()?.surname! | titlecase }}</ion-label>
          <ion-label class="role">COLABORADOR</ion-label>
        </div>
        <div class="container-avatar">
          <ion-img class="avatar" [src]="userAvatarUrl ? userAvatarUrl : defaultAvatarUrl" (click)="presentActionSheet()"></ion-img>
        </div>
      </div>
    </div>
  </ion-toolbar>
</ion-header>