<form class="firstForm" [formGroup]="firstForm">
  <ion-list lines="none">
    <ion-list-header>
      <ion-label> {{ translatesISPS['three-months'] }} </ion-label>
    </ion-list-header>
    <ion-item-group *ngFor="let question of questions;">
      <ion-label class="ion-margin-start bold-txt">{{ question.question }}</ion-label>
      <ion-radio-group [formControlName]="question.fcName">
        <ion-item (click)="selectOption(question.fcName, question.answerA.value)">
          <ion-radio mode="md" slot="start" [value]="question.answerA.value"></ion-radio>
          <ion-label>{{ question.answerA.label }}</ion-label>
        </ion-item>

        <ion-item (click)="selectOption(question.fcName, question.answerB.value)">
          <ion-radio mode="md" slot="start" [value]="question.answerB.value"></ion-radio>
          <ion-label>{{ question.answerB.label }}</ion-label>
        </ion-item>

        <ion-item *ngIf="question.answerC" (click)="selectOption(question.fcName, question.answerC.value)">
          <ion-radio mode="md" slot="start" [value]="question.answerC.value"></ion-radio>
          <ion-label>{{ question.answerC.label }}</ion-label>
        </ion-item>
      </ion-radio-group>
    </ion-item-group>
  </ion-list>
</form>