<div>
      <div class="progress-security-container">
				<div class="progress-bar-segmented">
					<div class="segment" [ngClass]="getSecurityClass(1)"></div>
					<div class="segment" [ngClass]="getSecurityClass(2)"></div>
					<div class="segment" [ngClass]="getSecurityClass(3)"></div>
				</div>
			<span class="security-label">Seguridad: {{ passwordStrength }}</span>
			</div>

            <div class="pass-rules-container">
				<p class="reminder">Tu contraseña debe contener:</p>
					<ul>
						<li>
							<img [src]="hasLength ? 'assets/icon/check_green.svg' : 'assets/icon/close.svg'" alt="icon">
							<span>12 caracteres</span>
						</li>
						<li>
							<img [src]="hasUpper ? 'assets/icon/check_green.svg' : 'assets/icon/close.svg'" alt="icon">
							<span>1 mayúscula</span>
						</li>
						<li>
							<img [src]="hasLower ? 'assets/icon/check_green.svg' : 'assets/icon/close.svg'">
							<span>1 minúscula</span>
						</li>
						<li>
							<img [src]="hasNumber ? 'assets/icon/check_green.svg' : 'assets/icon/close.svg'">
							<span>1 número</span>
						</li>
						<li>
							<img [src]="hasSymbol ? 'assets/icon/check_green.svg' : 'assets/icon/close.svg'">
							<span>1 símbolo o caracter espacial (recomendado)</span>
						</li>
					</ul>
			</div>
</div>