.progress-security-container ~ .pass-rules-container {
  margin-top: 10px;
}

.progress-bar-segmented {
  display: flex;
  gap: 4px;
  height: 6px;
  width: 100%;
  margin-bottom: 6px;
}
.reminder{
  color: var(--Neutral-GreyVeryDark, #212532);
  /* Label L2/Regular */
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 142.857% */
  letter-spacing: 0.035px;
}
.segment {
  flex: 1;
  background-color: #E0E0E0;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.segment.active.red {
  background-color: #EB5757;
}

.segment.active.yellow {
  background-color: #F2C94C;
}

.segment.active.green {
  background-color: #27AE60;
}

.security-label {
  display: block;
  font-size: 14px;
  font-weight: 500;
  color: var(--Neutral-GreyMedium, #505A78);
    /* Comment C1/Regular */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16px; /* 133.333% */
    letter-spacing: 0.048px;
}


ul {
    list-style: none !important;
    padding-left: 0px !important;
    display: grid;
    gap: 5px;
    span{
        color: var(--Neutral-Grey, #8A95AB);
        /* Label L2/Regular */
        font-family: Inter;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px; /* 142.857% */
        letter-spacing: 0.035px;
    }

    li {
        display: flex;
        gap: 8px;
        font-size: 14px;
        font-weight: 300;
        color: #8A95AB;
        i {
            color:#4C97E5 !important;
            margin: 10px 10px 5px 0;
        }
    }
}