
<div class="radio-container ion-padding">
<ion-label class="title-label ">¿Estos son tus datos?</ion-label>

  <ion-label class="radio-label ">Hipertensión arterial</ion-label>
  <ion-radio-group class="radio-group">
    <ion-radio value="si">Sí</ion-radio>
    <ion-radio value="no"> No</ion-radio>
  </ion-radio-group>
</div>

<div class="radio-container ion-padding">
  <ion-label class="radio-label ">Diabetes</ion-label>
  <ion-radio-group class="radio-group">
    <ion-radio value="si">Sí</ion-radio>
    <ion-radio value="no" > No</ion-radio>
  </ion-radio-group>
</div>

<div class="radio-container ion-padding">
  <ion-label class="radio-label ">Respiratorias</ion-label>
  <ion-radio-group class="radio-group">
    <ion-radio value="si">Sí</ion-radio>
    <ion-radio value="no"> No</ion-radio>
  </ion-radio-group>
</div>

<div class="radio-container ion-padding">
  <ion-label class="radio-label">Cardiovasculares (Angina de pecho, arritmia, soplo, infarto miocardio)</ion-label>
  <ion-radio-group class="radio-group">
    <ion-radio value="si">Sí</ion-radio>
    <ion-radio value="no"> No</ion-radio>
  </ion-radio-group>
</div>


<div class="radio-container ion-padding">
  <ion-label class="radio-label ">Neurológicas</ion-label>
  <ion-radio-group class="radio-group">
    <ion-radio value="si">Sí</ion-radio>
    <ion-radio value="no"> No</ion-radio>
  </ion-radio-group>
</div>


<div class="radio-container ion-padding">
  <ion-label class="radio-label ">Metabólicas (Triglicéridos, colesterol, resistencia a la insulina)</ion-label>
  <ion-radio-group class="radio-group">
    <ion-radio value="si">Sí</ion-radio>
    <ion-radio value="no"> No</ion-radio>
  </ion-radio-group>
</div>



