<ion-content>
  <div class="content">
    <app-logo></app-logo>

    <ion-img [src]="image" style="width: 15rem"></ion-img>

    <div class="text-container">
      <h1 class="title">{{ title }}</h1>
      <p class="subtitle">
        <span [innerHTML]="text"></span>
        @if (type === 'error' || type === 'success support') {
          Serás redirigido al inicio de sesión en <strong>{{ countdown() }} segundos.</strong>
        }
      </p>
    </div>
    <ion-button 
      expand="block" 
      (click)="navigate()"
      size="large" 
      shape="round">
      {{ getButtonText() }}
    </ion-button>
  </div>
</ion-content>
