
<ion-button (click)="takePicture()" class="upload">
  <div class="col"> 
    @if(!fileSelected){
      <ion-icon name="cloud-upload-outline" class="uploadIcon"></ion-icon>
      @if(title){
        <p class="text2"> {{ title }} </p>
      }
    }
    @if(fileSelected){
      <img [src]="fileSelected.imageUrl" alt="previewFile" class="fileUploaded">
    }
  </div>
</ion-button>
@if(fileSelected){
  <div class="buttons">
    <ion-button (click)="takePicture()" expand="block" shape="round" class="primary-color">
      Modificar
    </ion-button>
    <ion-button (click)="deleteFile()" expand="block" shape="round" class="white-color">
      Eliminar
    </ion-button>
  </div>
}
<input hidden type="file">