.container-login {
    .content-login {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 2rem;
        margin: 0;
        margin-left: auto;
        margin-right: auto;
        position: relative;
        top: -5rem;
        max-width: 442px;
        width: 100%;
        background-color: white;
        border: solid #DADFE9 1px;
        box-shadow: 0px 8px 16px rgba(33, 37, 50, 0.08);
        border-radius: 8px;

        @media screen and (max-width: 900px){
            display: block;
            padding: 0 1rem;
            position: static;
            width: auto;
            border: none;
            box-shadow: none;
            border-radius: 0;
        }
        div#newPassword {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;
            input {
                width: 100%;
                height: 48px !important;
            }

            label {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: .25rem;
                margin-inline-start: 4px;
            }
        }

        div#passwordConditions {
            label {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: .25rem;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-inline-start: 4px;

                li {
                    i[class='fa fa-circle-thin'] {
                        color: #8A95AB;
                    }

                    i[class='fa fa-check-circle'] {
                        color: #1da4b1;
                    }

                    span {
                        font-size: 14px;
                        margin-inline-start: 8px;
                    }
                }
            }
        }

        .container-error {
            width: 100%;
            .text-error {
                // text-align: left;
                font-size: 12px;
                font-weight: 400;
                line-height: 16px;
                letter-spacing: 0.004em;
                text-align: left;
                color: red;
                margin-bottom: -2px !important;
                margin-left: 5.33px;
            }
        }

        .flex-row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 8px;

            p {
                margin: 0;
                margin-left: 1rem;
            }

            span {
                text-align: left !important;
            }
        }

    }

    h2 {
        margin: 2.5rem 0 0.5rem;
        width: 100%;
        text-align: left !important;
        color: gray;
        font-size: 1.125rem !important;
        font-weight: 600 !important;
        line-height: 1.5rem;
    }

    h3 {
        width: 100%;
        text-align: left !important;
        color: gray !important;
        font-size: 14px !important;
        font-weight: 400 !important;
        line-height: 2rem;
        letter-spacing: 0;
    }

    form.flex-between {
        margin: 0 0 2rem 0;

        div.container-inputs {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            text-align: center;
            margin-top: .9rem;
            margin-bottom: 1rem;

            input:nth-of-type(4) {
                margin-left: 8px;
            }

            .inputs {
                width: 40px;
                height: 48px !important;
                border: 1px solid #DADFE9;
                border-radius: 8px;
                text-align: center;
                font-size: 0.875rem;
                margin-right: 10px;
                background-color: white;
                &:focus {
                    border-radius: 8px !important;
                    border: 1px solid #1DA4B1 !important;
                    outline: 2px solid #BBE4E9;
                }
                &:-moz-focusring {
                    border: 1px solid black !important;
                }
            }
        }
    }

    .subtitle {
        width: 100%;
        p {
            text-align: start !important;
            font-size: 1rem;
            font-weight: 600;
            color: red;
            margin-bottom: 2.5rem;
            margin-inline-start: 1.3rem;
            cursor: pointer;
        }
    }

    .error {
        width: 100%;
        font-size: 14px;
        margin-inline-start: 2em;
        color: red;

        p {
            text-align: start;
        }
    }

    .showPassword {
        position: relative;
        float: right;
        width: 30px;
        height: 30px;
        top: -3.4rem;
        right: .3rem;
    }

    .subtitle-disabled {
        width: 100%;
        p {
            text-align: start !important;
            font-size: 1rem;
            font-weight: 600;
            color: #8A95AB;
            margin-bottom: 2.5rem;
            margin-inline-start: 1.3rem;
            cursor: default;
        }
    }

    .container-buttons {
        display: block;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .button-generic {
        border-radius: 100px !important;
        height: 2.875rem !important;
        cursor: pointer !important;
        text-decoration: none !important;
        width: 100%;

        &.next {
            background-color: #1DA4B1 !important;
            color: #fff !important;
        }
        &.back{
            background-color: #fff !important;
            color: #1DA4B1 !important;
            border: solid 1px #1DA4B1 !important;
            margin-top: 0.75rem;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.description {
    width: 100%;
    text-align: left !important;
    color: gray !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.5rem;
    letter-spacing: 0;
}
