<ion-content [fullscreen]="true">
    <div>
        <app-logo></app-logo>
    </div>
    <div class="container-login">
        <div class="content-login">
            <h2>
                Restablece tu contraseña
            </h2>
            <h3>
                Ingresa el código que enviamos a tu casilla de email.
            </h3>
            <div>
                <form class="flex-between" [formGroup]="otpForm" id="formSecurityCode">
                    <div class="container-inputs" formArrayName="otp">
                        @for(digit of otpDigits; track digit){
                            <input 
                            class="inputs"
                            [ngStyle]="{'border': error ? '1px solid red' : '1px solid #DADFE9'}"
                            type="text"
                            inputmode="numeric"
                            maxlength="1"
                            [formControlName]="digit"
                            [id]="digit"
                            (keydown)="onInput($event)"/>
                        }
                    </div>
                    @if(error){
                        <div class="error">
                            <p>
                                <i class="fa fa-exclamation-circle" 
                                   style="color: red" >
                                </i>
                                El código es incorrecto
                            </p>
                        </div>
                    }
                    @if(!counter){
                        <div class="subtitle">
                            <p (click)="sendNewCode()">
                                Reenviar código
                            </p>
                        </div>
                    }
                    @if(counter){
                        <div class="subtitle-disabled">
                            <p>
                                Reenvío disponible en 
                                {{counter*1000 | date:'mm:ss'}}
                            </p>
                        </div>
                    }
                    <div id="newPassword">
                        <label class="description">
                            Nueva contraseña 
                        </label>
                            <app-custom-input 
                                [control]="newPassword" 
                                [type]="isShown ? 'text' : 'password'" 
                                autocomplete="off"
                                (keydown)="handleCharacters($event)"
                                style="width: 100%;">
                            </app-custom-input>
                    </div>
                    <div id="passwordConditions">
                        <label class="description">
                            Tu contraseña debe tener al menos: 
                        </label>
                        <ul>
                            <li>
                                <ion-icon
                                  [name]="newPassword.errors?.['required'] || newPassword.errors?.['minlength'] ? 'close-circle-outline' : 'checkmark-circle-outline'"
                                  [class.check__no-ok]="newPassword.errors?.['required'] || newPassword.errors?.['minlength']"
                                  [class.check__ok]="!(newPassword.errors?.['required'] || newPassword.errors?.['minlength'])">
                                </ion-icon>
                                <span class="description">
                                    10 caracteres 
                                </span> 
                            </li>
                            <li>
                                <ion-icon
                                    [name]="newPassword.errors?.['oneLowercaseLetter'] ? 'close-circle-outline' : 'checkmark-circle-outline'"
                                    [class.check__no-ok]="newPassword.errors?.['oneLowercaseLetter']"
                                    [class.check__ok]="!newPassword.errors?.['oneLowercaseLetter']">
                                </ion-icon>
                                <span class="description">
                                    1 minúscula 
                                </span>
                            </li>
                            <li>
                                <ion-icon
                                    [name]="newPassword.errors?.['oneCapitalLetter'] ? 'close-circle-outline' : 'checkmark-circle-outline'"
                                    [class.check__no-ok]="newPassword.errors?.['oneCapitalLetter']"
                                    [class.check__ok]="!newPassword.errors?.['oneCapitalLetter']">
                                </ion-icon>
                                <span class="description">
                                    1 mayúscula 
                                </span>
                            </li>
                            <li>
                                <ion-icon
                                    [name]="newPassword.errors?.['oneNumber'] ? 'close-circle-outline' : 'checkmark-circle-outline'"
                                    [class.check__no-ok]="newPassword.errors?.['oneNumber']"
                                    [class.check__ok]="!newPassword.errors?.['oneNumber']">
                                </ion-icon>
                                <span class="description">
                                    1 número 
                                </span>
                            </li>
                        </ul>
                    </div>
                </form>
            </div>
            <div class="container-buttons">
                <ion-button 
                    expand="block"
                    shape="round" 
                    type="submit" 
                    class="submit-btn submit" 
                    [disabled]="otpForm.invalid"
                    (click)="confirmPasswordChange()">
                    Guardar contraseña
                </ion-button>
                <ion-button
                    expand="block"
                    shape="round" 
                    type="submit" 
                    class="submit btn btn-primary btn-lg btn-block button-generic back" 
                    (click)="navToLogin()">
                    Volver
                </ion-button>
            </div>
        </div>
    </div>

</ion-content>