.container-login {
    .content-login {
        display: block;
        padding: 0 1.25rem;
        div#newPassword {
            display: flex;
            flex-wrap: wrap;
            margin-bottom: 1rem;

            label {
                font-size: 12px;
                font-weight: 400;
                margin-bottom: .25rem;
                margin-inline-start: 4px;
            }
        }

        div#passwordConditions {
            label {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: .25rem;
            }

            ul {
                list-style: none;
                padding: 0;
                margin-inline-start: 4px;
                display: flex;
                flex-direction: column;
                gap: 5px;
                li{
                    display: flex;
                    gap: 15px;
                }
            }
        }
    }

    h2 {
        color: var(--Neutral-GreyVeryDark, #212532);
        font-family: 'Inter', sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 700;
        line-height: 32px; /* 133.333% */
        margin-bottom: 2rem;
    }

    h3 {
        text-align: left;
        color: #212532 !important;
        font-weight: 400;
        font-size: .875rem;
    }

    form.flex-between {
        margin: 0 0 2rem 0;

        div.container-inputs {
            display: flex;
            justify-content: center;
            text-align: center;
            margin-top: .9rem;
            margin-bottom: 1rem;

            input:nth-of-type(4) {
                margin-left: 8px;
            }

            .inputs {
                width: 40px;
                height: 48px !important;
                border: 1px solid #DADFE9;
                border-radius: 8px;
                text-align: center;
                font-size: 0.875rem;
                margin-right: 10px;
                background-color: white;
                &:focus {
                    border-radius: 8px !important;
                    border: 1px solid #1DA4B1 !important;
                    outline: 2px solid #BBE4E9;
                }
                &:-moz-focusring {
                    border: 1px solid black !important;
                }
            }
        }
    }

    .subtitle {
        width: 100%;
        p {
            text-align: start !important;
            font-size: 1rem;
            font-weight: 600;
            color: red;
            margin-bottom: 2.5rem;
            margin-inline-start: 1.3rem;
            cursor: pointer;
        }
    }

    .error {
        width: 100%;
        font-size: 14px;
        margin-inline-start: 2em;
        color: red;
        p {
            text-align: start;
        }
    }
    
    .subtitle-disabled {
        width: 100%;
        p {
            text-align: start !important;
            font-size: 1rem;
            font-weight: 600;
            color: #8A95AB;
            margin-bottom: 2.5rem;
            margin-inline-start: 1.3rem;
            cursor: default;
        }
    }

    .container-buttons {
        display: block;
        width: 100%;
        margin-bottom: 2.5rem;
    }
    .button-generic {
        border-radius: 100px !important;
        height: 2.875rem !important;
        cursor: pointer !important;
        text-decoration: none !important;
        width: 100%;

        &.next {
            background-color: #1DA4B1 !important;
            color: #fff !important;
        }
        &.back{
            background-color: #fff !important;
            color: #1DA4B1 !important;
            border: solid 1px #1DA4B1 !important;
            margin-top: 0.75rem;
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.description {
    width: 100%;
    text-align: left !important;
    color: #212532 !important;
    font-size: 14px !important;
    font-weight: 400 !important;
    text-align: left;
    color: #212532 !important;
    font-weight: 400;
}

.check {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    &__ok{
        background-color: #1DA4B1;
        border-radius: 50%;
        color: white;
    }
    &__no-ok{
        background-color: #aaa;
        border-radius: 50%;
        color: white;
    }
}